.scroll-to-top {
    display: none;
    position: fixed;
    right: 0;
    z-index: 50;
    cursor: pointer;
}

.scroll-to-top.show {
    display: flex;
    justify-content: center;
}

.hidden md:block {
    display: none;
    /* Default hidden state */
}


/* Show the button on small and medium screens */

@media (min-width: 375px) and (max-width: 767px) {
    .hidden md:block {
        display: flex;
        /* Show on sm and md */
    }
}